<footer class="app-footer" id="app-footer" role="contentinfo">
    <section class="app-footer__content">
      <p class="app-copyright">
        <strong>&copy; {{ site.time | date: '%Y' }} JKA Jeremy Krauss Approach</strong> &middot;
        <a href="{{ page.base_url }}imprint">Impressum</a> &middot; 
        <a rel="nofollow" href="{{ page.base_url }}data-privacy">Data Privacy Policy</a> &middot; 
        <a href="{{ page.base_url }}contact">Contact</a> &middot; 
        <a href="https://www.facebook.com/jeremykraussapproach">Facebook</a> &middot; 
        <a href="https://www.youtube.com/channel/UCTW_plQtJpKpmxjKeWbfnpA/">YouTube</a> &middot; 
        <a href="https://plus.google.com/114352273986917168617/">Google+</a>
      </p>
    </section>
</footer>
