<footer class="app-footer" id="app-footer" role="contentinfo">
    <section class="app-footer__content">
      <p class="app-copyright">
        <strong>&copy; {{ site.time | date: '%Y' }} Jeremy Krauss</strong> &middot;
        <a href="/en/imprint">Imprint</a> &middot; 
                        <a href="/en/contact">Contact</a> &middot; 
                        <a href="https://www.facebook.com/jeremykraussapproach">Facebook</a> &middot; 
                        <a href="https://www.youtube.com/channel/UCTW_plQtJpKpmxjKeWbfnpA/">YouTube</a> &middot; 
                        <a href="https://plus.google.com/114352273986917168617/">Google+</a>
      </p>
    </section>
</footer>
