<div class="app-actionbar" id="app-actionbar">
    <div class="app-action-wrapper">
    	<div class=" app-action app-action-social">
    		<ul>
        		<li><a href="https://www.facebook.com/jeremykraussapproach">
                        <img class="app-svg-icon" src="{{ page.base_url }}assets/images/facebook.svg"> 
                    </a> 
                </li> 
        		<li><a href="https://www.youtube.com/channel/UCTW_plQtJpKpmxjKeWbfnpA/">
                        <img class="app-svg-icon" src="{{ page.base_url }}assets/images/youtube.svg"> 
                    </a> 
                </li>
                <li class="app-nl" ><a href="https://confirmsubscription.com/h/r/D61C457A58A175AD">
                        Newsletter 
                    </a>
                </li>
        	</ul>    
        </div>
    </div>
</div>
