<div class="app-intro app-page-text" id="app-intro">
    <div class="app-page-header app-page__header">
      <div class="app-page__title">
          <h1 class="app-page__headline">Jeremy Krauss Approach, Feldenkrais Method</h1>
      </div>
      <div class="app-page__abstract">Welcome to the website of Jeremy Krauss! On this website you will find information about Jeremy, the Jeremy Krauss Approach (JKA), dates for JKA 1-year and 3-year Training programs, advanced Training programs, Master Classes and much more.</div>
    </div>
    <div class="app-intro-right">
        <div class="app-intro-right-content">
            <h2>What is the Jeremy Krauss Approach (JKA)?</h2>
                <ul>
                    <li>The Jeremy Krauss Approach (JKA) is a <strong>new understanding</strong> and perspective of early movement development and learning.<br />
                    The JKA is a <strong>unique way</strong> of helping Special Needs Children and Adults to learn, grow and develop.</li>

                    <li>The <strong>primary focus</strong> is helping develop potential and abilities - physically, mentally and emotionally.</li>

                    <li>JKA is <strong>solidly founded</strong> on the science of Neuroplasticity - the brain’s ability to change and reorganize itself by forming new neural connections and developmental pathways no matter what the condition is.</li>

                    <li>The <strong>central focus</strong> is on a therapeutic learning process for helping Special Needs Children and Adults develop and increase their abilities. It is a neurophysiological therapy that helps with the growth and development of the nervous system and muscular-skeletal system.</li>

                    <li><strong>It supports</strong> children and adults to learn, change and overcome a spectrum of functional and developmental  challenges of various kinds.</li>

                    <li>The <strong>goal</strong> is that any child or adult no matter what their developmental  or others challenges are can make better use of their potential - physically, mentally and emotionally.</li>

                    <li>JKA is a <strong>non-invasive</strong> movement based Approach which respects every child and adult as an intelligent human being.</li>

                    <li>It is 100% personalized, not trying to fit the child or adult into a frame, but on the contrary, developing a frame that fits each child and adult.</li>
                </ul>

                <p>The JKA for children helps with various developmental challenges and disorders such as: Cerebral Palsy, Spasticity due to accidents, childhood stroke, autism spectrum, genetic disorders, brachial plexus injury, scoliosis and various undiagnosed developmental delays and difficulties and many developmental disorders and challenges seen in children.</p>

            <h2>Short film about the Jeremy Krauss Approach (JKA) for children on YouTube</h2>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sa_pJ5rOyHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <p>The JKA is a unique way of helping Special Needs Children learn, grow and develop, based on the work of Dr. Feldenkrais.</p>
	    </div>
    </div>
</div>