<div class="app-actionbar" id="app-actionbar">
    <div class="app-action-wrapper">
        <a href="https://www.facebook.com/jeremykraussapproach">facebook</a>               
        <a href="https://plus.google.com/114352273986917168617/">google+plus</a>
        <a href="https://www.youtube.com/channel/UCTW_plQtJpKpmxjKeWbfnpA/">youtube</a>
        <span class="app-newsletter">
            <div class="createsend-button" style="height:22px;display:inline-block;" data-listid="r/D2/975/82C/D61C457A58A175AD"></div>
              <script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
        </span>
    </div>
</div>
