<div class="app-intro app-page-text" id="app-intro">
    <div class="app-page-header app-page__header">
      <div class="app-page__title">
          <h1 class="app-page__headline">Jeremy Krauss Approach, Feldenkrais Method</h1>
      </div>
      <div class="app-page__abstract">Welcome to the website of Jeremy Krauss! On this website you will find information about Jeremy, the Jeremy Krauss Approach (JKA), dates for JKA and Feldenkrais training programs, advanced training programs, and much more.</div>
    </div>
    <div class="app-intro-right">
        <div class="app-intro-right-content">
            <h2>What is the Jeremy Krauss Approach (JKA)?</h2>
                <ul>
                    <li><span class="internal-link">The JKA is a <strong>unique way</strong> of understanding early development and helping</span><span class="internal-link"> special needs children learn, grow and develop.</span><br /><span class="internal-link"></span><span class="internal-link"></span></li>

                    <li><span class="internal-link">JKA is <strong>solidly founded</strong> on the science of Neuroplasticity - the brain’s ability </span><span class="internal-link">to change and reorganize itself by forming new neural connections and </span><span class="internal-link">developmental pathways no matter what the condition is. </span><span class="internal-link"></span></li>

                    <li><span class="internal-link">The <strong>central focus</strong> is on a therapeutic learning process for helping special </span><span class="internal-link">needs children develop and increase their abilities. It is a neurophysiological </span><span class="internal-link">therapy that helps with the growth and development of the nervous system </span><span class="internal-link">and muscular-skeletal system.</span><span class="internal-link"></span></li>

                    <li><span class="internal-link">The <strong>goal</strong> is that any child no matter what their developmental challenges are </span><span class="internal-link">can make better use of their potential - physically, mentally and emotionally. </span><span class="internal-link"></span></li>

                    <li><span class="internal-link">JKA is a <strong>non-invasive</strong> movement based approach which respects every child </span><span class="internal-link">as an intelligent human being. </span><span class="internal-link"></span></li>

                    <li><span class="internal-link">It is <strong>100% personalized</strong>, not trying to fit the child into a frame, but on the </span><span class="internal-link">contrary, developing a frame that fits each child. </span><span class="internal-link"></span></li>

                    <li><span class="internal-link">It uses a process called <strong>Progressive - Developmental - Abilities - Formation</strong></span></li>
                </ul>
            <h2><a class="internal-link" href="resolveuid/d7d26c14f3e743229e3106473cd45c67" target="_self" title="Jeremy Krauss Approach for children with special needs"><span class="internal-link">Short film about the Jeremy Krauss Approach (JKA) on YouTube</span></a></h2>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sa_pJ5rOyHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <p>The JKA is a unique way of helping Special Needs Children learn, grow and develop, based on the work of Dr. Feldenkrais.</p>
	    </div>
    </div>
</div>