//
// Footer
// -----------------------------------

.app-footer {
    padding-top: $spacer;
    padding-bottom: $spacer;
}

.app-footer__content {
  @include make-container();
  @include make-container-max-widths();
  border-top: .5rem solid $app-primary;
  padding-top: 1rem;
}
